body{
  font-family: 'Comic Neue';
  background-color: #21bf73
}

p{
  margin: 0;
}

.icon{
  width: 15px;
  margin-right: 2px;
}

.footer{
  background-color: #fd5e53;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.row{
  padding: 0;
  margin: 0;
}

#gameBoard{
  padding: 0, 0, 0, 5px;
}

#board{
  display: block;
  max-width: 90%;
  max-height: 80vh;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

#dice{
  padding-top: 10px;
  padding-bottom: 10px;
}

#rollDiceBtn{
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: white;
  background-color: #fd5e53;
  border: 2px solid black;
  border-radius: 20px;
  transition-duration: 0.3s;
}

#rollDiceBtn:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#gameStats{
  margin-bottom: 10px;
}

#currentPlayerProperties{
  padding: 0;
}

#playerNamesVisual{
  color: white;
  background-color: #323232;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 5px solid #e6a157;
  border-radius: 3px;
  margin-bottom: 60px;
  max-width: 80%;
}
